<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Consultas_medicas.Properties.Settings.Consulta_appConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Consulta_app.mdb;Persist Security Info=True;Jet OLEDB:Database Password=142825"
            providerName="System.Data.OleDb" />
        <add name="Consultas_medicas.Properties.Settings.consultamedicaConnectionString"
            connectionString="server=localhost;user id=joao;password=Joaoteamo@10;persistsecurityinfo=True;database=consulta"
            providerName="MySql.Data.MySqlClient" />
        <add name="Consultas_medicas.Properties.Settings.petshopConnectionString"
            connectionString="user id=root;server=localhost;database=petshop;allowuservariables=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="Consultas_medicas.Properties.Settings.petshop_2020ConString"
            connectionString="server=localhost;user id=root;database=petshop_2020"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="WebServiceCorreios.AtendeCliente" name="AtendeClientePort" />
        </client>
    </system.serviceModel>
</configuration>